<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
<appSettings>
  <add key="BBCNewsPageUrl" value="https://www.bbc.com/news" />
  <add key="BBCSearchPageUrl" value="https://www.bbc.co.uk/search?q={0}" />
  <add key="BaseballIpsumBaseUrl" value="http://baseballipsum.apphb.com/" />
  <add key="ScreenshotLocation" value="C:\\Users\\tsyba\\OneDrive\\Desktop\\BBCTestScreenshot{0}.png" />
  </appSettings>

</configuration>